@*
    /// <summary>
    /// Sample Ecommerce website
    /// Contains the page with a list of products displayed for the user
    /// </summary>
*@
@model List<Product>
@{ ViewBag.Title = "Products Page"; }

<h1>Products</h1>
<div class="card-deck">
    @foreach (var product in Model)
     {
        <div class="card card-block mx-2 border-0">
            <div id=@product.ProductId>
                <div class="card-img-top">
                    <div class="active embed-responsive embed-responsive-1by1">
                        <img src=@product.Images.ElementAt(0).ImageURL
                                class="card-img-top embed-responsive-item"
                                alt=@product.Name />
                    </div>
                </div>
            </div>
            <div class="card-body text-center">
                <a href=@Url.Action(action: "ProductView", controller:"Product", values:new { itemId = product.ProductId })><h5 class="card-title">@product.Name</h5></a>
                <h4 class="card-text ">$@product.Price</h4>
            </div>
        </div>
     }
</div>


