@*
    /// <summary>
    /// Sample Ecommerce website
    /// Contains the page with a list of products displayed for the user
    /// </summary>
*@
@model List<Product>
@{ ViewBag.Title = "Products Page"; }

<h1>Products</h1>
<div class="card-deck">
    @foreach (var product in Model)
     {
        <div class="card" style="height:20rem; max-width:50rem">
            <div id=@product.ProductID class="carousel slide" data-mdb-ride="carousel">
                <div class="card-img-top carousel-inner">
                    @foreach (var img in product.Images)
                     {
                        <div class="carousel-item active">
                            <img src=@img.ImageURL
                                    class="card-img-top" style="height:10rem; max-width:15rem"
                                    alt=@product.Name />
                        </div>
                     }
                </div>
            </div>
            <div class="card-body">
                <a href="#"><h5 class="card-title">@product.Name</h5></a>
                <p class="card-text">$@product.Price</p>
            </div>
        </div>
     }
</div>


